body{
    background-image: url(../img/wallpaper_bing.jpg);
    background-size: cover;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    height: 100vh;
}
a{
    text-decoration: none;
}
#header{
    height: 10vh;
    display: flex;
}
#logoBing{
    width: 20vw;
}
#imagenesVideos{
    width: 20vw;
    display: flex;
    justify-content: space-around;
    margin-inline: 3em;
}
.colorText{
    color: white;
}
#vacio{
    width: 20vw;
}
#idiomasLogin{
    width: 40vw;
    display: flex;
    justify-content:space-around;
    margin-inline-end: 3em;
}
.tamañoIcono{
    width: 2em;
}
#section{
    height: 55vh;
    text-align: center;
}
#inputPadre{
    margin: 0 auto;
}
#inputBuscador{
    margin-top: 8em;
    width: 50vw;
    height: 8vh;
    border-radius: 1em;
    border: none;
}
#inputBuscador:hover{
    border: solid 1px;
}
#footer{
    height: 35vh;
    display: flex;
    flex-direction: column;
}
#footerUp{
    height: 20vh;
    display: flex;
    margin-inline: 5em;
}
#footerUpLeft{
    width: 50vw;
    margin-left: 2em;
}
#footerUpRight{
    width: 50vw;
    display: flex;
    justify-content: end;
    margin-right: 2em;
}
.btnInfo{
    background-color:rgb(50, 66, 66);
    color: white;
    height: 3em;
    width: 6em;
    border-radius: 0.5em;
    margin: 0 0.2em;
}
.btnInfo:hover{
    background-color: darkslategrey;
    transition: 0.2s;
    cursor: pointer;
}
.btnFlecha{
    background-color:rgb(50, 66, 66);
    color: white;
    height: 3em;
    width: 3em;
    border-radius: 0.5em;
    margin: 0 0.2em;
}
.btnFlecha:hover{
    background-color: darkslategrey;
    transition: 0.2s;
    cursor: pointer;
}
#footerDown{
    height: 80vh;
    display: flex;
    margin-inline: 5em;
}
.news{
    width: 15vw;
    height: 22vh;
    margin: 0 2em;
}
.tamañoImagenNew{
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
}
.alignCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
